@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 1rem;
} */

/* Navbar links styles */
/* 
.nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  list-style: none;
} */

/* .nav-ul a {
  color: rgb(118,118,118);
  text-decoration: none;
  transition: 0.3s ease;
  margin-left: 2rem;
} */

/* .nav-ul a:hover,.nav-social-icons:hover {
  color: #78e7cd;
  cursor: pointer;
  transition: 0.3s ease;
} */

/* Navbar social media icons */

/* .nav-social-icons {
  display: inline-block;
  margin-right: 1rem;
} */

/* Styling logo here */

/* .logo {
  margin-right: 3rem;
} */

/* styling footer here */
/* 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.copyright {
  opacity: 0.5;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
 */
